body{
  background-color: rgb(235, 111, 235);
}
.App{
  background-color:rgb(99, 27, 89);
  min-height: 500px;
  width:400px;
  margin: 40px auto;
}
#to-do-form input{
  background-color:rgb(27, 112, 137);
  border: 0;
  width: 200px;
  height:50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius:10px;
  color: white;
}

#to-do-form input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}
#to-do-form input:focus, #to-do-form button:focus{
  outline:none;
}
#to-do-form button{
  height: 50px;
  width:80px;
  border-radius:5px;
  border:0;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}